body {
  min-width: 1170px;
  margin: 0;
  padding: 0;

  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;

}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  font-family: 'Raleway', serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  overflow-wrap: break-word;

  display: block;
  box-sizing: border-box;
  padding: 14px 20px;;
  width: 170px;
  
  background-color: #131313;
}

.button:hover {
  background-color: #ff0036;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.site-navigation {
  width: 830px;
  padding: 0;
  margin: 0;
  margin-left: 345px;

  display: flex;
  justify-content: space-between;

  list-style: none;
}

.item-navigation a {
  display: block;
  padding-top: 22px;
  padding-bottom: 26px;

  color: #a4a4a4;

  margin-right: 35px;
}

.item-navigation a:hover {
  padding-top: 19px;
  padding-bottom: 23px;
  border-top: 3px solid #ff0036;
  border-bottom: 3px solid #ff0036;
}

.main-navigation {
  min-height: 70px;

  background-color: rgb(0, 0, 0);
  background-image: url('../img/bg.jpg');
  background-position: center top;

  text-transform: uppercase;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;

  position: relative;
}

.main-header-logo {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

h2 {
  color: #ff0036;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;

  margin: 0;
  margin-bottom: 40px;
}

.home {
  color: #ffffff;
  text-align: center;

  background-color: #51495e;
  background-image: url('../img/home.jpg');
  background-position: center -70px;
  background-repeat: no-repeat;

  padding-bottom: 210px;
  padding-top: 180px;
}

.home:hover {
  box-shadow: inset 0 0 0 10000px rgba(0,0,0,0.65);
}

.home-title {
  margin: 0;
  margin-bottom: 40px;
}

h2 + b  {
  display: block;
  width: 1030px;
  margin: 0 auto;
  margin-bottom: 45px;

  font-weight: 400;
  text-align: center;
}

.home-button {
  display: flex;
  width: 370px;
  margin: 0 auto;

  justify-content: space-between;
}

.description {
  padding-top: 90px;
  margin-bottom: 100px;
  color: #505050;
}

.description-subtitle {
  font-weight: 700;
  margin-bottom: 90px;
}

.description-title > span {
  color: #262626;
}

.description-wrapper {
  display: flex;
  justify-content: space-between;

  position: relative;

  padding-bottom: 100px;
  margin-bottom: 100px;
}

.description-wrapper::before {
  content: "";
  width: 517px;
  height: 1px;
  background-color: #262626;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.description-wrapper::after {
  content: "";
  width: 21px;
  height: 19px;

  background-image: url('../img/Shape.svg');

  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.description-text {
  width: 570px;
  margin: 0;
  margin-bottom: 40px;
  
}

.drop-down-menu summary:first-of-type {
  list-style: none;
}

.drop-down-menu details:not(:last-child) {
  margin-bottom: 10px;
}

.drop-down-menu details {
  width: 570px;
}

.drop-down-menu details:hover summary {
  color: #ff0036;
}

.drop-down-menu summary {
  border: 1px solid #e7e7e7;

  background-color: #f7f7f7;

  font-family: 'Raleaway', sans-serif;
  color: #262626;
  font-size: 20px;
  user-select: none;
  cursor: pointer;

  position: relative;
}

.drop-down-menu summary::before {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #505050;

  position: absolute;
  left: 24px;
  top: 21px;
}

.drop-down-menu summary::after {
  content: "";
  width: 2px;
  height: 10px;
  background-color: #505050;

  position: absolute;
  left: 28px;
  top: 17px;

  transform: rotate(0deg);

  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function:ease;
  transition-delay: 0ms;

}

.drop-down-menu details:hover summary::after,
.drop-down-menu details:hover summary::before {
  background-color: #ff0036;
}

.drop-down-menu details[open] summary::after {
  /* display: none; */
  
  transform: rotate(90deg);

}

.drop-down-menu p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #505050;

  margin: 0;
  padding: 15px;
  border: 1px solid #e7e7e7;
  border-top: 0;
}

.drop-down-menu  b {
  margin-left: 58px;
  padding: 11px 0;
  padding-left: 30px;
  border-left: 1px solid #e7e7e7;
  font-weight: 500;

  display: block;
}

.description-slider figure,
.description-slider p {
  margin: 0;
}

.image-icon {
  position: absolute;
  left: 20px;
  top: 13px;
}

.description-advantages {
  display: flex;

  padding: 0;
  margin: 0;

  list-style: none;
  text-align: center;

  position: relative;
}

.description-advantages-item {
  position: relative;
}

.description-advantages-item h3 {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;

  margin: 0;
  margin-bottom: 20px;
  color: #262626;

}

.description-advantages-item p {
  margin: 0;
}
								
.description-advantages-item:hover .shape-advantage {
  fill: #ff0036;
  stroke: none;
}

.shape-svg {
  margin: 0 auto;
  margin-bottom: 30px;
}

.description-heart,
.description-check,
.description-responsive,
.description-clean {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);  
  top: 27px;
}

.description-advantages-item:hover .description-heart-icon,
.description-advantages-item:hover .description-check-icon,
.description-advantages-item:hover .description-responsive-icon,
.description-advantages-item:hover .description-clean-icon {
  fill: #ffffff;
  stroke: none;
}








